.instances-wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.instance-card {
    flex: 1 1 300px;
    height: 500px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    font-size: 14px;
}

.instance-text {
    color: #888;
}
