.dashboard-container {
    height: 100vh;
    width: 92%;
    overflow: hidden;
}

.dashboard-container button {
    background: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #292828;
}

.dashboard-tabs {
    display: flex;
    gap: 10px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.tab-button {
    padding: 8px 20px;
    border-radius: 6px;
    background: #dfdbdb;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #292828;
}

.tab-button.active {
    background: #979797;
    font-weight: 600;
}
