.training-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.training-sidebar {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 40px 20px;
    flex: 1 1 250px;
    max-width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.training-sidebar-text {
    font-weight: 600;
    font-size: 16px;
    color: #000;
    line-height: 1.4;
}

.training-content {
    flex: 2;
    min-width: 300px;
    padding-top: 40px;
}

.training-title {
    font-size: 22px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}

.training-subtitle {
    font-size: 16px;
    color: #666;
}
