#root {
  width: 92%;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  width: 44px;
  height: 44px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.base {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.steps {
  display: flex;
}
.steps > div {
  margin-left: 12px;
}