#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

h1, h2, h3, p {
  margin: 0;
}

.dashboard {
  width: 92%;
  overflow: hidden;
}
.dashboard .header button {
  color: #0E0D0F;
}