section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header {
    width: 100%;
}

.prompt-input {
    margin-bottom: 24px;
    background-color: #F4F4F4;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.submit {
    margin-bottom: 44px;
}