.keywords {
    margin-top: 24px;
}

.naming {
    font-size: 20px;
}

.prompt-inputs {
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;
    margin-top: 12px;
}

.wrapper {
    display: flex;
}

.cv-check {
    width: 50%;
    height: 100%;
}

.btn-wrap {
    margin-top: 24px;
}
.btn-wrap button {
    margin-right: 12px;
    margin-top: 12px;
}