.header {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header button {
    background: none;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.logo {
  width: 44px;
  height: 44px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}