#base {
  height: 60vh;
}

.base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.base h1 {
    font-size: 64px;
    margin-top: 44px;
}
.description {
    font-size: 28px;
}