#base {
  height: 100vh;
  z-index: 2;
  color: #FFF;
  width: 92%;
}

.base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 60%;
}

.base h1 {
    font-size: 64px;
    margin-top: 44px;
}
.description {
    font-size: 28px;
}

.base button {
  color: #A51BFB;
}
.base span {
  color: #A51BFB;
}